// COLORS
$color-white: 		#F5F7FA;
$color-dkGrayDk:    #434A54;
$color-dkGrayLt:    #656D78;
$color-aquaDk: 	    #3BAFDA;
$color-aquaLt:      #4FC1E9;
$color-mintDk:      #37BC9B;
$color-mintLt:      #48CFAD;
$color-grapefruitDk:#DA4453;
$color-grapefruitDk:#ED5565;

// FONTS
$font-fancy: "buena-park-jf", serif;
$font-sans: "filson-soft", sans-serif;
// $font-eloquent: "eloquent-jf-pro", serif;
